<%# <div class="show-container">
  <div class="image">
    <img src="https://kitt.lewagon.com/placeholder/users/Joe McIlroy"/>
  </div>
  <div class="card-infos">
    <h2><strong>David</strong> London</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
  </div>
  <div class="buttons">
    <a href="#" class="btn-fr">Donate</a>
    <a href="#" class="btn-fr">Assistance</a>
  </div>
</div> %>

<div class="show-container">
  <div class="image">
    <%= cl_image_tag @donee.photo.key %>
  </div>
  <div class="card-infos">
    <div class="top">
      <h2><strong><%= "#{@donee.first_name} #{@donee.last_name}" %></strong></h2>
      <div class="qr-code">
        <%= @qr_code.html_safe %>
      </div>
    </div>
    <h5> <%= @donee.location %> </h5>
    <p> <%= @donee.description %> </p>
    <div class="buttons">
      <%= link_to "Assistance", new_donee_report_path(@donee), class: "btn-fr"  %>
      <%= link_to "Donate", new_donee_donation_path(@donee), class: "btn-fr"  %>
      <%= link_to "Back", donees_path, class: "btn-fr-1", style: "margin: 0px;"  %>
    </div>
  </div>
</div>
<%# donee_donation_path(@donee) %>
<%# <%= link_to "All Donees", donees_path %>

  <%# <%= link_to "Edit", edit_donee_path(@donee) %>
<%#
  <%= link_to "Assistance", new_donee_report_path(@donee) %>

  <%# <%= link_to "Delete #{@donee.first_name}?", %>
      <%# donee_path(@donee),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <%# <%= link_to "Donate", new_donee_donation_path(@donee)%>
