<div class="navbar navbar-expand-sm navbar-light navbar-friendy">
  <div class="container-fluid">
     <%= link_to root_path , class: "navbar-brand" do %>
      <h1 style="margin: 0px"><%= Friendy %></h1>
    <% end %>
    <div class="dash-nav">
      <% if params[:controller]  == "pages" && (params[:action] == "index" || params[:action] == "show") %>
        <%= link_to new_donee_path do  %>
          <i class="fa fa-thin fa-person-circle-plus"></i>
        <% end %>
        <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <%= image_tag 'vectorpaint.svg', style: "color: white;" %>
          <%# <i class="fa fa-regular fa-user-plus" style="margin-left: 10px;"></i> %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
