<div class="show-container" style="height: 64vh;">
  <div class="image">
    <%= image_tag @order.donation.donee.photo %>
  </div>
  <div class="card-infos">
    <h2>Thanks <%= "#{@order.donation.user.first_name}!" %></h2>
    <ul class="list-unstyled">
      <li><strong>STATUS</strong> <%= @order.state %></li>
      <li><strong>DATE</strong> <%= @order.created_at.to_date %></li>
      <li><strong>DONEE</strong> <%= @order.donation.donee.first_name %></li>
      <%# <li><strong>USER</strong> <%= @order.donation.user.first_name %>
      <li><strong>TOTAL</strong> <%= humanized_money_with_symbol (@order.amount)*100 %></li>
    </ul>
    <em><q><%= @order.donation.message %></q></em>
    <div class="buttons-conf">
      <%= link_to "Dashboard", dashboard_path, class: "btn-fr" %>
    </div>
  </div>
</div>


<%# [<%=# @order.teddy_sku] %>
