
<h2 style="padding-left: 24px; font-size: 24px; font-weight: bold;"><%= "Your dashboard" %></h2>
<% @donees.each do |donee| %>
  <div class="container-dash">
    <div class="name-dash">
      <h2><%= link_to donee.first_name, dashboard_show_path(donee) %></h2>
      <h2><%= " #{donee.location}" %></h2>
    </div>
    <div class="img-dash">
      <%= link_to dashboard_show_path(donee) do  %>
        <%= cl_image_tag donee.photo.key, class: "img" %>
      <% end %>
    </div>
  </div>
  <%# <div class="edit">
    <% link_to do %>
      <%# <i class="fa fa-solid fa-file-pen" style="font-size: 2"></i>
    <% end %>
  <%# </div> %>
  <div class="edit">
    <%= link_to "edit", edit_donee_path(donee) %>
  </div>
<% end %>
