
<div class="dash-show">
  <div class="dash-container">
    <div class="dash-name">
      <h3><%= @donee.first_name %></h3>
      <h2><%= @donee.location %></h2>
    </div>
    <div class="img">
        <%= cl_image_tag @donee.photo.key, class: "img" %>
    </div>
  </div>
  <h2 style="padding-left: 32px; font-size: 24px; margin-top: 30px;">Donations history</h2>
  <div class="history">
    <% @donation_history.each do |donation| %>
      <p><%= donation.created_at %></p>
      <div class="cash-msg">
        <h4><%= "£#{donation.price_cents}" %></h4>
      </div>
    <% end %>
  </div>
  <div class="dash-buttons">
    <%= link_to "Back", dashboard_path, class: "btn-fr"  %>
  </div>
</div>
