<h1>Your dashboard show</h1>
<div class="show-container">
  <div class="image">
    <%= cl_image_tag @donee.photo.key %>
  </div>
  <div class="card-infos">
    <div class="top">
      <h2><strong><%= @donee.first_name %></strong></h2>
      <div class="qr-code">
        <%= @qr_code.html_safe %>
      </div>
    </div>
    <h2> Donation History </h2>
    <%# <p> <%= @donee.description %> </p>
    <div class="buttons">
      <%= link_to "Edit", edit_donee_path(@donee), class: "btn-fr"  %>
      <%= link_to "Delete", new_donee_report_path(@donee), class: "btn-fr"  %>
      <%= link_to "Back", dashboard_path, class: "btn-fr"  %>
  </div>
</div>
