<div class="dash-show">
  <div class="dash-container">
    <div class="dash-name">
      <h3><%= @donee.first_name %></h3>
      <h2><%= @donee.location.include?(",") ? @donee.location.split(",")[2] : @donee.location %></h2>
    </div>
    <div class="img">
      <%= cl_image_tag @donee.photo.key, class: "img" %>
    </div>
  </div>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2 style="padding-left: 32px; font-size: 24px; margin-top: 30px;">Donations History</h2>
          <div class="history">
            <% @donation_history.each do |donation| %>
              <p><%= (donation.created_at).strftime("%a, %b %d %Y ") %></p>
              <div class="cash-msg">
                <h4><%= "£#{donation.price_cents}" %></h4>
              </div>
            <% end %>
          </div>
      </div>
      <div class="carousel-item">
        <h2 style="padding-left: 32px; font-size: 24px; margin-top: 30px;">Assistance History</h2>
        <div class="history">
          <% @reports_history.each do |report| %>
            <p><%= (report.created_at).strftime("%a, %b %d %Y ") %></p>
            <div class="report-msg">
              <p><%= "#{report.location}" %></p>
              <p class="message"><%= report.message %></p>
              <div class="view-button d-flex" style="margin-right:5px;">
                <div class="form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault<%= report.id %>">
                  <label class="form-check-label-1" for="flexSwitchCheckDefault<%= report.id %>">Completed</label>
                </div>
                <%= link_to "Full report", report_path(report)%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <div class="dash-buttons">
      <%= link_to "Back", dashboard_path, class: "btn-fr"  %>
    </div>
  </div>
</div>
