
<div class="new-donee-form">
  <%= simple_form_for(@donee) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :description %>
    <%= f.submit %>
  <% end %>
  <div class="buttons">
  <%= link_to "Back", donees_path, class: "btn-fr" %>
  </div>
</div>
<%# need to add image to form and the qr code here%>
