<div class="new-donee-form">
  <%= simple_form_for(@donee) do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :location, input_html: { class: 'd-none', data: { geocoder_target: "location" } }, wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] }, class: 'geocoder-text' } %>
    <%= f.input :description %>
    <%= f.input :photo, as: :file %>
    <div class="buttons">
      <%= link_to "Back", dashboard_path, class: "btn-fr-1", style: "margin: 0px; margin-top:20px"%>
      <%= f.submit class: "btn-fr", style: "margin: 0px; margin-top: 20px"%>
    </div>
  <% end %>
</div>
