<div class="map-marker-info">
  <div>
  <%= report.donee.first_name %>
  <%= report.donee.last_name %>
  </div>
  <div>
  <%= report.location %>
  </div>
  <div>
  <%= report.assistance_type %>
  </div>
  <div>
  <%= report.message %>
  </div>
</div>
