<div class="map-marker-info">
  <div class="map-info">
    <div>
      <%= report.donee.first_name %>
      <%= report.donee.last_name %>
    </div>
    <div>
      <%= report.location %>
    </div>
    <div>
      <%= report.assistance_type %>
    </div>
  </div>
  <div>
  <%= report.message %>
  <div class="pin-buttons">
    <div class="edit-map">
      <%= link_to edit_report_path(@report) do %>
        <%= image_tag 'edit.svg' %>
      <% end %>
    </div>
  </div>
  </div>
</div>
<%# <script>
  document.querySelector(".form-check-input").addEventListener("click", myFunction);
  let form = document.querySelector(".edit_report");
  console.log("hello")
  const myFunction = () => {
    form.submit();
    console.log("hello")
  };
</script> %>
