<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<form class="message-form" style="text-align:center;">
  <br>
  <%= simple_form_for(@report) do |report| %>
    <%= report.input :location, collection: ["Essex", "London"] %>
    <%= report.input :assistance_type, collection: ["Emergency", "Non-Emergency"] %>
    <%= report.input :message, as: :text %>
  <% end %>
  <button onclick="myFunction()"><%= link_to 'Submit', root_path, class: 'btn btn-outline-primary form-btn' %></button>
  <script>
  function myFunction() {
    alert("Thank you, your SOS has been notified with the Friendy Team!");
  }
  </script>
</form>
