<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
  <br>
  <%= simple_form_for(@report) do |f| %>
    <%= f.input :location, collection: ["Essex", "London"] %>
    <%= f.input :assistance_type, collection: ["Emergency", "Non-Emergency"] %>
    <%= f.input :message, as: :text %>
    <%= f.submit %>
  <% end %>
