<!DOCTYPE html>
<html>
  <head>
    <title>Friendy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;700&family=Monofett&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

  </head>

  <body>
    <div class="col-sm-12">
      <% if params[:controller]  == "donees" && params[:action] == "index" %>
        <%= render 'shared/search-bar' %>
      <% end %>
      <% unless action_name == "home" %>
        <%= render 'shared/navbar' %>
      <% end %>
      <%= yield %>

      <% if user_signed_in? %>
        <%= render 'shared/footer' %>
      <% end %>
    </div>
  </body>
</html>
